$font-1-local: 'OpenSans Regular';
$font-1-url1: '../fonts/opensans.woff';
$font-1-url2: '../fonts/opensans.woff2';

$font-2-local: 'OpenSans Bold';
$font-2-url1: '../fonts/opensansbold.woff';
$font-2-url2: '../fonts/opensansbold.woff2';

$font-3-local: 'OpenSans Light';
$font-3-url1: '../fonts/opensanslight.woff';
$font-3-url2: '../fonts/opensanslight.woff2';


$tablet-widths: 'min-width: 700px';
$desktop-widths: 'min-width: 1200px';
