.advantages {
  position: relative;

  h2 {
    @include font-3;
    padding: 0;
    margin: 0;
  }

}

.advantages__content {
  @include font-4;
  padding: 0;
  margin: 0;
  margin-top: 7px;
  padding-left: 25px;
  padding-right: 25px;
}

.advantages__promo {
  text-align: center;
  background-color: #ffffff;
  padding-top: 41px;
  padding-bottom: 70px;
  margin: 0;

  p {
    margin: 0;
    padding: 0;
    padding-bottom: 29px;
    @include font-2;
  }

  p:last-child {
    padding: 0;
  }

}

.advantages__list {
  background-color: #f2f2f2;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 50px;
  position: relative;
}

// .advantages__list::before {
//   content: '';
//   position: absolute;
//   top: -25px;
//   left: 0;
//   width: 99%;
//   height: 8%;
//   background-color: #f2f2f2;
//   transform: rotate(-5deg);
// }


.advantages__item {
  margin-bottom: 33px;
  color: #283645;
}

.advantages__img {
  display: block;
}

.advantages__img--mono, .advantages__img--pink {
  display: none;
}

.advantages__img--smile {
  // position: absolute;
  // top: 84%;
  // left: 30%;
  margin: 0 auto;
  margin-top: 48px;
  @include size(157px, 320px);
  background-image: url('../img/iphone-screen-mobile@1x.png');
}


@media ($tablet-widths) {

  .advantages {
    // width: 700px;
  }

  .advantages__promo {
    padding-bottom: 100px;

    p {
      @include font-param(40px, 48px, 300);
      padding: 0;
    }

    p:nth-child(2) {
      padding-left: 150px;
      padding-right: 150px;
    }

  }

  .advantages__list {
    // width: 310px;
    // max-height: 365px;
    padding-left: 350px;
    padding-right: 40px;
    padding-bottom: 43px;
    padding-top: 28px;
    text-align: left;
    @include clearfix();
  }

  // .advantages__list::before {
  //   top: -27px;
  //   left: 5px;
  //   height: 12%;
  //   transform: rotate(-3deg);
  //   background-color: red;
  //   content: '';
  //   position: absolute;
    // top: 0;
    // left: 0;
    // width: 0;
    // height: 0;
    // border-style: solid;
    // border-width: 30px  30px 0;
    // border-color: transparent red transparent transparent;
  // }

  .advantages__content {
    padding: 0;
    margin: 0;
    margin-top: 8px;
    padding-right: 15px;
  }

  .advantages__img--smile {
    position: absolute;
    background-image: url('../img/iphone-screen-tablet@1x.png');
    @include size(268px, 548px);
    margin-top: 0;
    top: -45px;
    left: 40px;
    z-index: 2;
  }

}


@media ($desktop-widths) {

  .advantages {
    width: 1200px;

    h2 {
      @include font-param(30px, 30px, 600, #000000);
      position: relative;
      z-index: 4;
    }

  }

  .advantages__promo {
    padding-bottom: 165px;
    padding-top: 70px;

    p:nth-child(2) {
      padding-left: 320px;
      padding-right: 320px;
    }

  }

  .advantages__content {
    @include font-5;
    margin-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .advantages__list {
    width: 100%;
    padding: 0;
    padding-top: 266px;
    text-align: center;
    position: relative;
  }

  .advantages__item {
    width: 270px;
    display: inline-block;
    vertical-align: top;
    margin-right: 47px;
  }

  .advantages__item:nth-child(1) {
    width: 280px;
  }

  .advantages__item:nth-child(3) b {
      display: block;
      padding-right: 35px;
      padding-left: 35px;
      line-height: 35px;
  }

  .advantages__item:last-child {
    margin-right: 0;
  }

  .advantages__images {
    position: relative;
  }

  .advantages__img {
    position: absolute;
    @include size(294px, 382px);
    z-index: 2;
  }

  .advantages__img--mono {
    display: block;
    top: -90px;
    left: 140px;
    background-image: url('../img/iphone-screen-desktop-mono@1x.png');
  }

  .advantages__img--mono::after {
    content: '';
    position: absolute;
    top: 302px;
    left: 0px;
    background-color: #f2f2f2;
    @include size(270px, 122px);
    z-index: 3;
  }

  .advantages__img--pink {
    display: block;
    top: -90px;
    left: 457px;
    background-image: url('../img/iphone-screen-desktop@1x.png');
  }

  .advantages__img--pink::after {
    content: '';
    position: absolute;
    top: 302px;
    left: 0px;
    background-color: #f2f2f2;
    @include size(270px, 122px);
    z-index: 3;
  }

  .advantages__img--smile {
    position: absolute;
    top: -90px;
    left: 778px;
    @include size(294px, 382px);
    background-image: url('../img/iphone-screen-desktop-smile@1x.png');
    z-index: 2;
  }

  .advantages__img--smile::after {
    content: '';
    position: absolute;
    top: 302px;
    left: 0px;
    background-color: #f2f2f2;
    @include size(270px, 122px);
    z-index: 3;
  }

}
