.app-download {
	background-color: #1d2631;
	padding-top: 30px;
}

.app-download__platforms {
	margin-top: 32px;
	margin-bottom: 27px;
  text-align: center;
}

.app-download__link {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	text-decoration: none;

	  &--itunes {
			@include size(47px, 56px);
			background-image: url('../img/apple-logo.png');
			margin-right: 28px;
	  }

	  &--gmarket {
			@include size(43px, 47px);
			background-image: url('../img/android-logo.png');
			margin-right: 38px;
		}

	  &--mstore {
			@include size(44px, 41px);
			background-image: url('../img/microsoft-logo.png');
	  }

}


@media ($tablet-widths) {

	.app-download {
		display: absolute;
		background: transparent;
	}

	.app-download__platforms {
		width: 214px;
		margin-left: 86px;
	}

}

@media ($desktop-widths) {

	.app-download__platforms {
		margin-top: 60px;
		margin-left: 130px;
		margin-left: 14%;
	}

}
