.app-download {
	background-color: #1d2631;
	padding-top: 30px;
}

.app-download__platforms {
	margin-top: 32px;
  text-align: center;
}

.app-download__link {
	display: inline-block;
	vertical-align: top;
	// font-size: 0;
	text-decoration: none;

	  &--itunes {

	  }

	  &--gmarket {

	  }

	  &--mstore {

	  }

}


@media ($tablet-widths) {

	.app-download {
		display: absolute;
		background: transparent;
	}

	.app-download__platforms {
		width: 214px;
		margin-left: 86px;
	}

}

@media ($desktop-widths) {

	.app-download__platforms {
		margin-top: 60px;
		margin-left: 130px;
	}

}
