.container {
  margin: 0 auto;
	position: relative;
	@include clearfix();
}

@media ($tablet-widths) {
  .container {
    width: 620px;
  }
}

@media ($desktop-widths) {
  .container {
    width: 940px;
  }
}
