.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.form-content__title {
	text-align: center;
	margin: auto;
	font-size: 14px;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;

	span {
		display: none;
	}

}

.form__fieldset {
	border: none;

	&--who {
		padding-top: 13px;
		padding-bottom: 41px;
	}

	&--achievements {
		background-color: #f2f2f2;
		width: 100%;
		padding-top: 70px;
		padding-bottom: 50px;
		position: relative;
	}

	&--contacts {
		padding-top: 10px;
		padding-bottom: 54px;
	}

	&--application {
		background-color: #f2f2f2;
		width: 100%;
		position: relative;
		padding-top: 90px;
		padding-bottom: 45px;
	}

}

.form__emotions {
	padding-top: 60px;

	fieldset {
		border: none;
	}

}

.form__div {

	&--application,
	&--achievements {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

.form__title {
	@include font-4(18px);
	color: #d22856;
	text-align: center;
	text-transform: uppercase;

	&--achievements {
		position: absolute;
		top: 38px;
		left: 30%;
		width: 220px;
	}

	&--application {
		position: absolute;
		top: 38px;
		left: 30%;
		width: 180px;
	}

	&--emotions {
		padding-bottom: 20px;
	}

	&--contacts {
		display: none;
	}

}

.form__item {
	width: 280px;
}

.form__input {
	@include font-name;
	color: #283645;
	@include font-5;
	padding-left: 21px;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: none;
	border: none;
	border: 2px solid #e5e5e5;
}

.form__label {
	font-size: 14px;
	color: #d22856;
	text-transform: uppercase;
	display: block;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 23px;

	&--achievements {
		display: inline-block;
		@include font-param(18px, 30px, 400);
		text-transform: none;
	}

	&--application {
		display: inline-block;
		@include font-param(18px, 30px, 400);
		text-transform: none;
	}

}

.form__checkbox {
	// margin-left: 5px;
	// margin-bottom: 62px;
	// margin-right: 48px;
}

.form__achievements-item:last-child .form__checkbox {
	margin-bottom: 0;
}

.form__span {

	&--nomobile {
		display: none;
	}

}

.form__text {
	@include font-name;
	@include font-5;
	width: 254px;
	margin: 0 auto;
	padding-left: 20px;
	padding-top: 13px;
	border: 2px solid #e5e5e5;
}


@media ($tablet-widths) {

	.form-content__title {
		@include font-5;
		padding-top: 94px;
		padding-left: 60px;
		padding-right: 60px;

		span {
			display: block;
		}

	}

	.form__fieldset {
		width: 100%;
		border: 2px solid #e5e5e5;
		background-color: #ffffff;

		&--who {
			order: 1;
			padding-top: 77px;
			border: none;
		}

		&--application {
			order: 2;
			padding-left: 53px;
			padding-bottom: 46px;
			padding-top: 50px
		}

		&--contacts {
			order: 3;
			margin-top: 60px;
			padding-top: 30px;
			padding-bottom: 0;
			padding-left: 39px;
			padding-right: 59px;
		}

		&--achievements {
			order: 4;
			margin-top: 64px;
			padding-top: 40px;
			padding-bottom: 40px;
		}

	}

	.form__emotions {
		order: 5;
	}

	.form__title {
		padding-left: 35px;
		padding-right: 35px;

		&--achievements {
			position: static;
			line-height: 30px;
			width: auto;
		}

		&--contacts {
			display: block;
			text-align: center;
		}

		&--application {
			position: static;
			width: auto;
			padding-top: 0;
		}

	}

	.form__item {
		width: 100%;
		display: flex;
		align-items: baseline;
		flex-wrap: wrap;
	}

	.form__label {
		margin: 0;
		display: inline-block;

		&--contacts {
			order: 2;
			padding-left: 40px;
			padding-bottom: 30px;
			// padding-top: 6px;
			// padding-bottom: 28px;
		}

	}

	.form__input {
		margin-left: 20px;
		margin-bottom: 50px;
		display: inline-block;
		flex-grow: 1;

		&--contacts {
			order: 1;
			width: 100%;
			margin-bottom: 10px;
		}

	}

	.form__item:last-child .form__input {
		margin-bottom: 0;
	}

	.form__item:last-child .form__input--contacts {
		margin-bottom: 10px;
	}

	.form__span {

		&--mobile {
			display: none;
		}

		&--nomobile {
			display: inline;
		}

	}

}


@media ($desktop-widths) {




}
