.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.form__fieldset {
	border: none;

	&--who {
		padding-bottom: 41px;
	}

	&--achievements {
		background-color: #f2f2f2;
		width: 100%;
		padding-top: 40px;
	}

	&--contacts {
		padding-bottom: 54px;
	}

	&--application {
		background-color: #f2f2f2;
		width: 100%;
		padding-top: 38px;
	}

}

.form__emotions {
	padding-top: 60px;

	fieldset {
		border: none;
	}

}

.form__div {

	&--application,
	&--achievements {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

.form__item {
	width: 280px;
}

.form-content__title {
	text-align: center;
	margin: auto;
	font-size: 14px;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;

	span {
		display: none;
	}

}

.form__input {
	@include font-name;
	color: #283645;
	@include font-5;
	padding-left: 21px;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: none;
	border: none;
	border: 2px solid #e5e5e5;
}

.form__label {
	font-size: 14px;
	color: #d22856;
	text-transform: uppercase;
	display: block;
	margin-top: 20px;
	margin-bottom: 17px;
	margin-left: 23px;

	&--achievements {
		display: inline-block;
		@include font-param(18px, 30px, 400);
		text-transform: none;
	}

	&--application {
		display: inline-block;
		@include font-param(18px, 30px, 400);
		text-transform: none;
	}

}

.form__title {
	@include font-4(18px);
	color: #d22856;
	text-align: center;
	text-transform: uppercase;

	&--achievements {
		width: 220px;
	}

	&--application {
		width: 180px;
	}

	&--emotions {
		padding-bottom: 20px;
	}

}

.form__title--contacts {
	display: none;
}

.form__checkbox {
	// margin-left: 5px;
	// margin-bottom: 62px;
	// margin-right: 48px;
}

.form__achievements-item:last-child .form__checkbox {
	margin-bottom: 0;
}

.form__span {

	&--nomobile {
		display: none;
	}

}

.form__text {
	@include font-name;
	@include font-5;
	width: 254px;
	margin: 0 auto;
	padding-left: 20px;
	padding-top: 13px;
	border: 2px solid #e5e5e5;
}




@media ($tablet-widths) {

	.form-content__title {
		@include font-5;
		padding-top: 94px;
		padding-left: 60px;
		padding-right: 60px;

		span {
			display: block;
		}

	}

	.form__input {
		@include font-5;
    margin-left: 20px;
		display: inline-block;
	}

	.form__label {
		@include font-5;
		color: #d22856;
		margin-bottom: 52px;
		margin: 0;
		display: inline-block;
	}

	.form__title--achievements {
		line-height: 30px;
		padding-left: 35px;
		padding-right: 35px;
	}

	.form__title--contacts {
		display: block;
		padding-left: 35px;
    padding-right: 35px;
	}

}


@media ($desktop-widths) {




}
