.location {

	  b {
	    @include font-param(18px, auto, 600);
	    display: block;
	  }

		p {
			@include font-2;
			color: #d22856;
		}

}

.location__map {
	margin: 0 auto;
	line-height: 0;
	@include size(100%, 201px);
	background-image: url('../img/bg-map-mobile@1x.png');
	background-size: cover;
}

.location__contacts {
	// position: absolute;
	// top: 21px;
	width: 100%;
	// margin-bottom: 300px;
	background-color: #ffffff;
}

.location .location__promo {
	@include font-2;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 17px;
}

.location__item {
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}

.location__link {
	text-decoration: none;
	@include font-2;
	color: #d22856;
}

@media ($tablet-widths) {

	.location {

		b {
			padding-bottom: 2px;
		}

	}

	.location__map {
		@include size(100%, 380px);
		background-image: url('../img/bg-map-tablet@1x.jpg');
	}

	.location__contacts {
		padding-bottom: 17px;
		@include clearfix();
	}

	.location .location__promo {
		width: 370px;
		margin: 0 auto;
		@include font-param(40px, 50px, 300);
		padding-top: 45px;
		padding-bottom: 20px;
	}

	.location__item {
		float: left;
		padding: 0;
		margin: 0;
	}

	.location__item:nth-of-type(1) {
		margin-right: 102px;
		width: 208px;
	}

	.location__item:nth-of-type(2) {
		width: 240px;
	}

	.location__item:nth-of-type(3) {
		width: 215px;
		margin-left: 160px;
	}

}


@media ($desktop-widths) {

	.location {

		b {
			padding-bottom: 17px;
		}

	}

	.location__map {
		@include size(100%, 504px);
    background-image: url('../img/bg-map-desktop@1x.jpg');
	}

	.location__contacts {
		padding-bottom: 48px;
		// top: -37px;
	}

	.location__promo {
		@include font-param(50px, 60px, 300);
		width: 470px;
	}

	.location__item:nth-of-type(2) {
		// margin-left: 400px;
	}

	.location__item:nth-of-type(3) {
		// margin-left: -40px;
	}

}
