.logo {
	display: inline-block;

	&--header {
		float: left;
		padding-left: 20px;
	}

	&--footer {
		@include size(147px, 40px);
	}

}

.logo__link--tab {
	display: none;
}

.logo__link--desktop {
	display: none;
}


@media ($tablet-widths) {

	.logo {

		&--header {
			padding-left: 38px;
		}

	}

	.logo__link--tab {
		display: inline;
	}

	.logo__link--desktop {
		display: none;
	}

	.logo__link--mob {
		display: none;
	}

}


@media ($desktop-widths) {

	.logo {

		&--header {
			padding-left: 0;
			position: relative;
			z-index: 2;
		}

		&--footer {
			display: inline-block;
			@include size(147px, 40px);
		}

	}

	.logo__link--tab {
		display: none;
	}

	.logo__link--desktop {
		display: block;
		float: left;
		@include size(147px, 40px);
		margin-top: -27px;
		// margin-left: 130px;
	}

	.logo__link--mob {
		display: none;
	}

}
