.logo {
	display: inline-block;

	&--header {
		float: left;
	  // @include size(75px, 22px);
	}

	&--footer-desktop {
		display: none;
	}

}

.logo__link--tab {
	display: none;
}

.logo__link--desktop {
	display: none;
}


@media ($tablet-widths) {

	.logo {

		&--header {
			display: inline-block;
			vertical-align: top;
			@include size(147px, 40px);
			// padding: 35px;
		}

		&--footer {
			@include size(147px, 40px);
		}

	}

	.logo__link--tab {
		display: inline;
	}

	.logo__link--desktop {
		display: none;
	}

	.logo__link--mob {
		display: none;
	}

}


@media ($desktop-widths) {

	.logo {

		&--header {
			display: block;
			float: left;
			@include size(147px, 40px);
			margin-top: 27px;
			position: relative;
			z-index: 2;
			// margin-left: 130px;
		}

		&--footer {
			display: inline-block;
			@include size(147px, 40px);
		}

	}

	.logo__link--tab {
		display: none;
	}

	.logo__link--desktop {
		display: block;
		float: left;
		@include size(147px, 40px);
		margin-top: -27px;
		// margin-left: 130px;
	}

	.logo__link--mob {
		display: none;
	}

}
