.main-nav {
	@include clearfix();
  text-transform: uppercase;
	background-color: #283645;
	font-size: 0;

  a {
    display: inline-block;
    color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
  }

}

.main-nav__list {
  list-style: none;
  padding: 0;
}

.main-nav__item {
	@include font-white-bold(32px);
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}


@media ($tablet-widths) {
	.main-nav {
		width: auto;
	}
}

@media ($desktop-widths) {

  .main-nav {
    @include font-5(18px);
		@include clearfix();
    text-transform: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 110px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);

    a {
      padding-top: 27px;
      padding-bottom: 15px;
    }

  }

  .main-nav__list {
    // float: right;
		margin-left: 520px;
    @include clearfix();
  }

  .main-nav__item {
    border: none;
    float: left;
    margin-left: 80px;
  }

}
