.main-nav {
	@include clearfix();
  text-transform: uppercase;
	// background-color: #283645;
	font-size: 0;
	position: relative;

  a {
    display: inline-block;
    color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
  }

}

.main-nav__list {
  list-style: none;
  padding: 0;
	display: none;
}

.main-nav__list-show {
	display: block;
}

.main-nav__item {
	@include font-white-bold(32px);
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}


@media ($tablet-widths) {
	.main-nav {
		width: auto;
	}
}

@media ($desktop-widths) {

  .main-nav {
    @include font-5(18px);
		@include clearfix();
    text-transform: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 110px;
    margin: 0;

    a {
      padding-top: 0;
      padding-bottom: 0;
    }

  }

  .main-nav__list {
		display: block;
		margin-top: 0;
		margin-left: 320px;
    @include clearfix();
  }

  .main-nav__item {
    border: none;
    float: left;
    margin-left: 80px;
  }

	.main-nav__item:first-of-type {
		margin-left: 0;
	}

}
