.page-footer {
  position: relative;
  text-align: center;
}

.page-footer__copyright {
	display: block;
	vertical-align: top;
	@include font-4(18px);
	color: #283645;
	margin-top: 35px;
	padding: 0;
	padding-top: 16px;

	p {
		display: inline-block;
		vertical-align: top;
		margin-top: -1px;
	}

	a {
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
		margin-top: -9px;
	}

	img {
		width: 27px;
		height: 34px;
	}

}



@media ($tablet-widths) {

	.page-footer__copyright {
		display: inline-block;
		margin-top: 0;
		margin-left: 78px;
	}

}


@media ($desktop-widths) {

	.page-footer__copyright {
		@include font-5(18px);
		margin-left: -10px;
	}

}
