.page-footer {
  position: relative;
  text-align: center;
}

.page-footer__wrapper {
  @include container();
  @include clearfix();
	position: relative;
}

.page-footer__map {
  position: relative;
  margin: 0 auto;
  line-height: 0;
  @include size(320px, 645px);
  background-image: url('../img/bg-map-mobile.png');
  margin-top: -31px;
  z-index: 1;
}

.page-footer__contacts {
  position: absolute;
  z-index: 3;
  top: 31px;
  width: 100%;
  // margin-bottom: 300px;
  background-color: #ffffff;
}

.page-footer__title {
  @include font-2;
  padding-left: 15px;
  padding-right: 15px;
}

.page-footer__item {
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-footer__content {
  @include font-2;
  color: #d22856;
}


@media ($tablet-widths) {

  .page-footer__map {
    @include size(700px, 848px);
    background: url('../img/bg-map-tablet.jpg') 0 125px no-repeat;
  }

  .page-footer__contacts {
    padding-bottom: 17px;
    top: -54px;
  }

  .page-footer__title {
    width: 370px;
    margin: 0 auto;
    @include font-param(40px, 50px, 300);
    padding-top: 45px;
    padding-bottom: 47px;
  }

  .page-footer__item {
    width: 240px;
  }

  .page-footer__item:nth-of-type(1) {
    float: left;
    margin-left: 27px;
  }

  .page-footer__item:nth-of-type(2) {
    float: right;
    margin-right: 29px;
  }

  .page-footer__item:nth-of-type(3) {
    @include clearfix;
    margin: 0 auto;
    margin-top: 78px;
  }

}


@media ($desktop-widths) {

  .page-footer__map {
    @include size(1200px, 976px);
    background-image: url('../img/bg-map-desktop.jpg');
  }

  .page-footer__contacts {
    padding-bottom: 48px;
    top: -37px;
  }

  .page-footer-title {
    @include font-param(50px, 60px, 300);
  }

  .page-footer__item:nth-of-type(3) {
    margin-top: 0;
  }

}
