.page-main__intro {
	background: url('../img/iphone-hand-mobile@1x.png') 0% 49% no-repeat,	url('../img/bg-back-mobile@1x.jpg') 50% 0% no-repeat;
	padding-top: 461px;

	p {
		@include font-1;
		text-align: center;
		padding-left: 45px;
		padding-right: 45px;
		padding-bottom: 28px;
		margin: 0;
	}

}

.page-main__title {
	display: none;
}

.page-main__intro--inner {
	background: url('../img/bg-back-mobile@1x.jpg') 50% 5% no-repeat;
	padding-top: 194px;
	padding-bottom: 60px;

	h1 {
		@include font-2;
		color: #ffffff;
		line-height: 30px;
		width: 230px;
		text-align: center;
		margin: 0 auto;
	}

}


@media ($tablet-widths){

	.page-main {
		// position: relative;
	}

	.page-main__intro {
		background: url('../img/iphone-hand-tablet@1x.png') 50% 100% no-repeat,	url('../img/bg-back-tablet@1x.jpg') 50% 100% no-repeat;
		padding-top: 230px;
		padding-bottom: 108px;

		p {
			@include font-5(24px);
			color: #ffffff;
			padding-left: 30px;
			padding-right: 0;
			padding-bottom: 0;
			width: 310px;
		}

	}

	.page-main__intro .page-main__title {
		display: block;
		@include font-param(40px, 48px, 300, #ffffff);
		width: 195px;
		padding-left: 96px;
	}

	.page-main__intro--inner {
		background: url('../img/bg-back-tablet@1x.jpg') 50% 0% no-repeat;
		padding-top: 182px;
		padding-bottom: 79px;

		h1 {
			@include font-param(50px, 63px, 300, #ffffff);
			width: 474px;
		}

	}

}


@media ($desktop-widths) {

	.page-main__intro {
		background: url('../img/iphone-hand-desktop@1x.png') 60% 100% no-repeat, url('../img/bg-back-desktop@1x.jpg') 50% 100% no-repeat;
		padding-top: 228px;

		p {
			padding-top: 40px;
			padding-left: 11%;
			width: 302px;
		}

	}

	.page-main__intro .page-main__title {
		@include font-param(50px, 60px, 400, #ffffff);
		width: 240px;
		text-align: center;
		padding-top: 0;
		padding-left: 14%;
	}

	.page-main__intro--inner {
		background: url('../img/bg-back-desktop@1x.jpg') 50% 0% no-repeat;
		padding-top: 182px;
		padding-bottom: 79px;

		h1 {
			width: 750px;
		}

	}

}
