.photos {

}

.photos__wrapper {
	position: relative;
	@include container();
	@include clearfix();
	width: 280px;
}

.photos__slogan {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	@include container();
}

.photos__item {
	margin-bottom: 20px;
}

.photos__item--panorama {
	position: relative;
}

.photos__image img{
	@include size(280px, 180px);
	display: block;
	margin: 0 auto;

}

.photos__image--panorama {
	position: relative;
}

.photos__image--panorama img {
	@include size(320px, 137px);
}

.photos__image--filter img {
	@include size(280px, 374px);
}

.photos__item--panorama::after {
	content: 'Панорама дня';
	position: absolute;
	top: 0;
	left: 50%;
	@include font-param(12px, 24px, 600, #ffffff);
	text-transform: uppercase;
	background-color: #d22856;
	padding: 5px 20px;
}


@media ($tablet-widths) {

	.photos__item--panorama::after {
		top: 10%;
		left: 74%;

	}

}


@media ($desktop-widths) {

	.photos__item--panorama::after {
		left: 77%;
	}

}
