.photo-filter {
  text-align: center;
  padding-top: 20px;
}

.photo-filter__title {
	padding-bottom: 23px;
}

.photo-filter__content {
	background-color: #f2f2f2;
}

.photo-filter__range {
	display: block;
	margin: 0 auto;
}

.photo-filter__range--disabled {
	display: none;
}

.photo-filter__btns {
	border-top: 1px solid #dddfe0;
	padding-top: 38px;
	padding-bottom: 41px;
}
