.social-footer {
  text-align: center;
  margin-top: 60px;
}

.social-footer--index {
  display: none;
}

.social-footer--inner {
  display: block;
}

.social-footer__wrapper {
  @include container();
  position: relative;
}

.social-footer__logo {
  display: block;
  background: url('../img/logo-pink-footer.svg') no-repeat;
  @include size(147px, 40px);
  margin: 0 auto;
}

.social-footer__btns {
  margin-top: 40px;
}

.social-footer__copyright {
  display: block;
  @include font-4(18px);
  color: #283645;
  padding-top: 50px;
  padding-bottom: 10px;
}


@media ($tablet-widths) {

  .social-footer {
    padding-top: 37px;
    padding-bottom: 38px;
    margin-top: 58px;
  }

  .social-footer--index {
    display: block;
    text-align: left;
  }

  .social-footer__logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  .social-footer__btns {
    display: inline-block;
    margin-top: 0;
    // margin-right: 83px;
    vertical-align: top;
    margin: 0 auto;
    margin-left: 180px;

  }

  .social-footer__copyright {
    display: inline-block;
    padding: 0;
    padding-top: 16px;
    margin-left: 93px;
  }

  .social-footer__copyright::after {
    content: '';
    position: absolute;
    background: url('../img/htmlacademy.svg') no-repeat;
    top: 12px;
    left: 595px;
    @include size(27px, 24px);
  }

}


@media ($desktop-widths) {

  .social-footer__logo {
    margin-right: 272px;
    background: url('../img/logo-pink-footer-desktop.png') no-repeat;
  }

  .social-footer__btns {
    margin-right: 215px;
    margin-left: 360px;

  }

  .social-footer__copyright {
    @include font-5(18px);
    margin-left: 0;
  }

  .social-footer__copyright::after {
    left: 920px;
  }

}
