.user-actions {

}

.user-actions__likes {
	@include font-param(12px, 24px, 400, #d22856);
	text-transform: uppercase;
	display: block;
	padding-left: 32px;
	padding-top: 8px;
	padding-bottom: 16px;
}
