.wrapper {
  background-color: transparent;
	@include container();
	@include clearfix();
	position: relative;
}


@media ($tablet-widths) {

	.wrapper--header {
		width: 100%;
	}

}

@media ($desktop-widths) {

	.wrapper--header {
		@include container();
		position: static;
		// background: red;
	}

}
